@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}
.wrapper {
	max-width: 900px;
	margin: 0 auto;
	background: red;
}
.row {
	display: flex;
	justify-content: space-between;
	background: lightgreen;
	margin-bottom: 20px;
}
.text-wrapper, .select-wrapper {
	width: 150px;
}

button {
	display: block;
	margin: 0 auto;
}

.hidden-row {
	display: none;
}